//-------------------------------------------------------------------------------
// Landing Page Styles
//-------------------------------------------------------------------------------

.container {
	margin: auto;
	width: 640px;
	max-width: 100%;
	// margin: 120px auto 120px auto;

	@media (max-width: 800px) {
		padding: 40px 40px 20px 40px;
	}

	p.icon {
		margin-bottom: 80px; 

		@media (max-width: 800px) {
			margin-bottom: 40px;
		}

		img {
			max-width: 30px;
			height: audio;
		}

	}

}